.dashboard {
    grid-column: 1 / span 2;
    grid-row: 1/-1;
    width: 20%;
    height: 100%;
    background-color: #353A42;
}

.dashboard__top {
    background-color: #353A42;
    padding: 18px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard__top-title {
    font-size: 16px;
    color: #FEFEFE;
}

.dashboard__search {
    padding: 0px 25px 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard__search-input {
    border-radius: 50px;
    outline: none;
    border: none;
    background-image: url(../img/search-solid.svg);
    background-repeat: no-repeat;
    background-position: bottom 5px left 5%;
    background-size: 20px 20px;
    height: 35px;
    width: 80%;
    padding-left: 15px
}

.dashboard__search-input::-webkit-input-placeholder {
    font-family: inherit;
    color: rgba(143, 143, 143, 0.726);
    padding-left: 25px;
}

.dashboard__search-input:focus {
    background-image: none;
}

.class {
    color: red;
}

.dashboard__entrymenu {
    list-style: none;
    padding: 1.5px 3px;
}

.dashboard__entrymenu-item {
    padding: 20px 15px;
    margin: 1.5px 2.5px;
    display: flex;
    color: #FEFEFE;
    background-color: rgba(148, 148, 148, 0.705);
    transition: all .3s;
    cursor: pointer
}

.dashboard__entrymenu-item:hover {
    background-color: #4d4d4d
}

.dashboard__entrymenu-item:first-child {
    background-color: #3498DB;
    margin: 1.5px 2.5px;
    transition: all .3s;
    cursor: pointer
}

.dashboard__entrymenu-item:first-child:hover {
    background-color: #5faee3
}

.dashboard__entrymenu-item img {
    margin-right: 8px;
}

.dashboard__entries {
    list-style: none;
}

.dashboard__entries-item {
    background-color: #515861;
    color: #FEFEFE;
    padding: 10px 15px;
    margin: 1.5px 2.5px;
    transition: all .3s;
    cursor: pointer;
}

.dashboard__entries-item--title {
    margin-bottom: 3px;
}

.dashboard__entries-item .date {
    display: flex;
    color: #949494;
}

.dashboard__entries-item .date .icon-calendar {
    margin-right: 5px;
}

.dashboard__entries-item:hover {
    background-color: #68717d;
}