.top-nav {
    grid-row: 1 / 1;
    grid-column: 2 / -1;
    width: 100%;
    padding: 15px 45px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FEFEFE;
    background-color: #F04126;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
    height: 70px;
}

.top-nav .icon-bar {
    margin-right: 15px;
    width: 30px;
    height: 30px;
}

.top-nav .icon-home {
    width: 30px;
    height: 30px;
}

.top-nav__title {
    font-family: 'Gaegu', cursive;
    font-size: 36px;
}

.top-nav__probtn {
    padding: 5px 8px;
    background-color: #FEFEFE;
    color: #F04126;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 20px;
}

.top-nav__userbtn {
    text-decoration: none;
    color: inherit;
    padding: 7px 25px;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.entryarea {
    width: 100%;
    grid-row: 2/-1;
    grid-column: 2/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(238, 182, 27, 0.685), rgba(179, 156, 26, 0.692)), url(../img/what-the-hex.png);
}

.entryarea__box {
    position: relative;
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 70%;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
    background: #f4f4f4;
}

.entryarea__box-title {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    height: 45px;
    border: none;
    font-family: inherit;
    font-size: 26px;
}

.entryarea__box-title:focus {
    outline: none;
}

.entryarea__box-title::-webkit-input-placeholder {
    font-size: 32px;
    font-family: 'Garamond', serif;
    padding: 10px;
}

.entryarea__box-date {
    width: 90%;
    margin: 10px auto;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.entryarea__box-date .date {
    width: 50%;
}

.entryarea__box-date .date .icon-calendar {
    margin-right: 15px;
}

.entryarea__box-date .date p.entryarea__box-date--currentdate {
    display: inline;
}

.entryarea__box-date .icons {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entryarea__box-date .icons .icon-trash {
    margin-right: 5px;
}

.entryarea__box-date .icons .delete-btn {
    text-decoration: none;
    color: #F04126;
    font-weight: 600;
    margin-right: 10px;
    transition: all .2s;
}

.entryarea__box-date .icons .delete-btn:hover {
    color: #d4290f;
}

.entryarea__box-savebtn,
.entryarea__box-updatebtn {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 14px;
    text-align: center;
    width: 135px;
    padding: 10px 25px;
    margin: 25px auto;
    display: inline-block;
    border: 1px solid transparent;
    background-color: #3498DB;
    border-radius: 15px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    transition: all .3s;
}

.entryarea__box-savebtn:hover,
.entryarea__box-updatebtn:hover {
    border: 1px solid #3498DB;
    color: #3498DB;
    background-color: #f4f4f4;
    transform: translateY(-3px);
}

.entryarea__box-savebtn:active {
    transform: translateY(0px);
}

.entryarea__box-entryfield {
    width: 90%;
    margin: 0 auto;
    outline: none;
    resize: none;
    font-size: 18px;
    font-family: inherit;
    padding: 10px;
}